DB_USER=postgres
DB_NAME=cineClick
DB_PASSWORD=123456

AUTH_SECRET="mc8S8A3SEO650CTGEs3FIZbWRbGrFGnTjQYx25PuoII="

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
JWT_SECRET=7a9bcf34d76e2f8e1bdb05c986a5eb98d5d1c9d1f4bbef23ce817f4c50c6de64

DATABASE_URL="postgresql://postgres:123456@localhost:5432/cineClick?schema=public"